:root {
  --black: #242424;
  --lightBlack: #1C1C1C;
  --yellow: #FCC434;
  --white: #FFFFFF;
  --gray-color: #BFBFBF;
  --light-gray-color: #CDCDCD;
  --light-white-color: #F2F2F2;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: var(--black);
  color: var(--white);
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  margin: 2rem auto 4rem;
  min-height: 80vh;
  min-width: 100%;
  align-content: center;
}

a {
  text-decoration: none;
  color: inherit;
}


/* SCROLL DESIGN */
body::-webkit-scrollbar,
.MuiDrawer-paper::-webkit-scrollbar {
  width: 7px;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar-track,
.MuiDrawer-paper::-webkit-scrollbar-track {
  background: #000;
}

body::-webkit-scrollbar-thumb,
.MuiDrawer-paper::-webkit-scrollbar-thumb {
  background-color: var(--yellow);
  border-radius: 5px;
}