:root{
  --black: #242424;
  --lightBlack: #1C1C1C;
  --yellow: #FCC434;
  --white: #FFFFFF;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body{
  background-color: var(--black);
  color: var(--white);
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a{
  text-decoration: none;
  color: var(--white);
}